html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* MyTodo Styling */
.todo-list h2 {
    display: flex;
    padding: 5px;
    margin: 5px auto;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body {
    background-color: #F4F6F6;
}

.add-todo {
    padding: 10px;
    margin: 20px auto;
    width: 100%;
    max-width: 20%;
}

.add-todo h3 {
    padding: 10px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.add-todo input {
    padding: 10px 8px;
    margin: 10px auto;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
}

.todo-list ul {
    padding: 10px 8px;
    margin: 10px auto;
    width: 100%;
    max-width: 20%;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-align: left;
    font-size: 1.1rem;
}

.todo-list li {
    display: flex;
    justify-content: space-between;
}

.todo-list button {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
}

.todo-list button:hover {
    background-color: #E8E8E8;
}

.completed {
    text-decoration: line-through;
}

/* style={{textDecoration: todo.iscompleted ? "line-through" : "none"}} */